{% extends "layout.html" %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block main %}
<form action="/index" method="post">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th>Your review</th>
                    <th>Your rating</th>
                    <th>What others think of this book</th>
                    <th>Average rating from BookReviewer users</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.year }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{yourReview}}</td>
                        <td>{{yourRating}}/5</td>
                        <td>
                            <ul>
                                {% for opinion in reviewsFromOthers %}
                                    <li>{{ opinion.review }}</li>
                                {% else %}
                                    No reviews from others yet.
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                        {% if averageUsersRating > 0 %}
                            {{averageUsersRating}}/5

                        {% else %}
                            -
                        {% endif %}
                        </td>
                    </tr>
               <tr style="height: 30px;"/>
            </tbody>
        </table>
    </form>
{% endblock %}