{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block main %}
<form action="/index" method="post">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.year }}</td>
                        <td>{{ book.isbn }}</td>
                    </tr>
                {% endfor %}

               <tr style="height: 30px;"/>
            </tbody>
        </table>
    </form>
{% endblock %}