{% extends "layout.html" %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block main %}
<form action = "{{ url_for('addBookReview', isbn=book.isbn) }}" method="post">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th>What others think of this book</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.year }}</td>
                        <td>{{ book.isbn }}</td>


                            <form action = "{{ url_for('addBookReview', isbn=book.isbn) }}" method="post">

                                <div class="form-group">
                                    <label for="rating">Rating ( Out of 5 )</label>
                                    <select class="form-control" name="rating" id="rating">
                                        {%  for count in range(5) %}
                                            <option value="{{ count+1 }}">{{ count+1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                  <label for="comment">Comment:</label>
                                  <textarea class="form-control" rows="5" name="review"></textarea>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>

                   </tr>



               <tr style="height: 30px;"/>
            </tbody>
        </table>
    </form>
{% endblock %}