<html>
      <head>
          <script src="{{ url_for('static', filename='createChannel.js') }}"></script>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

          <title>Create Channel</title>
      </head>
      <body>
          <form id="channelCreationForm" method="post">
              <input id="channelName" autocomplete="off" autofocus placeholder="Channel name" type="text/html">
              <input  type="submit" value="Create!" >
          </form>
          <br>
          <div id="errorMessagePlace"></div>
      </body>
</html>