{% extends "base.html" %}
{% block title %}
    Your order!
{% endblock %}

{% block body %}
<div class="large-side-margins grayish-background small-paddings">
    <h5>Your order:</h5>
        {{userOrderWithAllFoods.getOrder}}
        {% for foodsInUserOrder in userOrderWithAllFoods.getAllFoodsInUserOrder %}
            <ul>
                <li>{{foodsInUserOrder.foodOrderItem}}</li>
                {% for topping in foodsInUserOrder.toppings %}
                    <ul>
                        <li class="small-font">{{topping.name}}</li>
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
        Total: ${{total}} <a href="{% url 'confirmOrder' %}">Order!</a>
</div>
{% endblock %}