{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post">
         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="query" placeholder="Type in a book title, an author or an isbn number" type="text" required/>
         </div>
         <div class="form-group">
            <button class="btn btn-primary" type="submit">Search</button>
         </div>
    </form>
{% endblock %}