{% extends "base.html" %}
{% block title %}
    Your order!
{% endblock %}
{% block body %}
<div class="grayish-background">
    <h5>Your order:</h5>
        {% for food in order %}
            {% if food.isPizza %}
                {% for pizzaItem, toppings in pizzasWithToppingsInOrder.items %}
                    {% if pizzaItem == food %}
                        {{pizzaItem.category}}, {{pizzaItem.name}}, ${{pizzaItem.price}}<br>
                        {% for topping in toppings %}
                            <ul>
                                <li class="smallFont">{{topping.name}}</li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {{food.category}}, {{food.name}}, ${{food.price}}<br>
            {% endif %}
        {% endfor %}
            Total: ${{total}} <a href="{% url 'confirmOrder' %}">Order!</a>
</div>
{% endblock %}