{% extends "base.html" %}

{% block title %}
    Pizza!
{% endblock %}

{% block body %}
    Menu:
    <br>
        Regular Pizzas:
        <ul>
            {% for pizza in regularPizzas %}
                  <li>
                      {{ pizza.name }}, small: {{ pizza.smallPrice }}, large: {{ pizza.largePrice }}
                  </li>
            {% endfor %}
        </ul>

        Sicilian Pizzas:
        <ul>
        {% for pizza in sicilianPizzas %}
              <li>
                  {{ pizza.name }}, small: {{ pizza.smallPrice }}, large: {{ pizza.largePrice }}
              </li>
        {% endfor %}
        </ul>

        Toppings:
        <ul>
        {% for topping in toppings %}
              <li>
                  {{ topping.name }}
              </li>
        {% endfor %}
        </ul>

        Pasta:
        <ul>
          {% for pasta in pastas %}
              <li>
                  {{ pasta.name }}, {{ pasta.price }}
              </li>
          {% endfor %}
        </ul>






{% endblock %}


