{% extends "base.html" %}

{% block title %}
    Log in
{% endblock %}

{% block body %}
    {% if message %}
        <div class="container grayish-background">
            {{ message }}
        </div>
    {% endif %}

    <body>
      <div class="container grayish-background small-paddings">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
          <label >Username: </label>
          <input class="small-bottom-margin" name="username" type="text" required><br/>
          <label>Password: </label>
          <input class="small-bottom-margin" name="password" type="password"required><br/>
          <input type="submit" value="Login"/>
        </form>
      </div>
    </body>
{% endblock %}
