{% extends "base.html" %}

{% block title %}
    Pending orders
{% endblock %}

{% block body %}
<div class="extra-large-side-margins grayish-background small-paddings">
    <h5>Orders being prepared:</h5>
    {% for confirmedOrderWithFoods in allConfirmedOrdersWithFoods %}
        {{confirmedOrderWithFoods.getOrder}}: <br> <a href="{% url 'completeOrderAdmin' confirmedOrderWithFoods.getOrder.orderNumber %}">Completed</a>
        {% for foodsInUserOrder in confirmedOrderWithFoods.getAllFoodsInUserOrder %}
            <ul>
                <li>{{foodsInUserOrder.foodOrderItem}}</li>
                {% for topping in foodsInUserOrder.toppings %}
                    <ul>
                        <li class="small-font">{{topping.name}}</li>
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
</div>

<div class="extra-large-side-margins grayish-background small-paddings">
    <h5>Orders being delivered:</h5>
    {% for completedOrderWithFoods in allCompletedOrdersWithFoods %}
        {{completedOrderWithFoods.getOrder}}: <br> <a href="{% url 'markOrderDeliveredAdmin' completedOrderWithFoods.getOrder.orderNumber %}">Delivered</a>
        {% for foodsInUserOrder in completedOrderWithFoods.getAllFoodsInUserOrder %}
            <ul>
                <li>{{foodsInUserOrder.foodOrderItem}}</li>
                {% for topping in foodsInUserOrder.toppings %}
                    <ul>
                        <li class="small-font">{{topping.name}}</li>
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}