{% extends "base.html" %}
{% block title %}
    Menu
{% endblock %}
{% block body %}
 <div class="shadowed-text small-right-padding small-left-padding">
        {{specialPizza}}
 </div>
<br>

{% for foodSection in onePriceFoods %}
    <table class="large-side-margins-gray-background">
        <thead class='thead-light'>
            <tr>
                <th class="small-paddings align-middle">{{foodSection.foodCategory.category}}</th>
                <th class="align-middle">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for food in foodSection.allFoodInCategory %}
                <tr>
                    <td class="small-left-padding align-middle">{{food.name}}</td>
                    <td class="align-middle">${{food.price}}<a href="{% url 'add' food.category food.name food.price %}">+</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% for foodSection in twoPriceFoods %}
    <table class="large-side-margins-gray-background">
        <thead class='thead-light'>
            <tr>
                <th class="small-paddings align-middle">{{foodSection.foodCategory.category}}</th>
                <th class="align-middle">Small</th>
                <th class="align-middle">Large</th>
            </tr>
        </thead>
        <tbody>
            {% for food in foodSection.allFoodInCategory %}
                <tr>
                    <td class="small-left-padding align-middle">{{food.name}}</td>
                    <td class="align-middle">${{food.smallPrice}}<a href="{% url 'add' food.category food.name food.smallPrice %}">+</a></td>
                    <td class="align-middle">${{food.largePrice}}<a href="{% url 'add' food.category food.name food.largePrice %}">+</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<table class="large-side-margins-gray-background">
    <thead class='thead-light'>
        <tr >
            <th class="small-paddings align-middle">Toppings</th>
        </tr>
    </thead>
    <tbody>
        {% for topping in toppings %}
            <tr class="three-columns">
                <td class="small-left-padding align-middle">{{topping.name}}<a href="{% url 'add' topping.category topping.name %}">+</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<div class="large-side-margins-gray-background small-paddings">
    <h5>Your cart:</h5>
        {% for food in order %}
            {% if food.isPizza %}
                {% for pizzaItem, toppings in pizzasToToppingsInOrder.items %}
                    {% if pizzaItem == food %}
                        {{pizzaItem.category}}, {{pizzaItem.name}}, ${{pizzaItem.price}}
                        <a href="{% url 'deleteItemFromCart' food.category food.name food.price %}"> -</a><br>
                        {% for topping in toppings %}
                            <ul>
                                <li class="small-font">{{topping.name}}
                                    {% if pizzaItem == currentPizza %}
                                        <a href="{% url 'deleteItemFromCart' topping.category topping.name %}"> -</a>
                                    {% endif %}
                                </li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {{food.category}}, {{food.name}}, ${{food.price}}<a href="{% url 'deleteItemFromCart' food.category food.name food.price %}"> -</a><br>
            {% endif %}
        {% endfor %}
        <p class="small-font">{{toppingInformationMessage}}<br></p>
        {% if order %}
            Total: ${{total}}
            <a href="{% url 'checkoutOrder' %}">Checkout order</a>
        {% endif %}
</div>
{% endblock %}