{% extends "base.html" %}

{% block title %}
    Pizza!
{% endblock %}

{% block body %}

<h4>Menu:</h4>
    <br>
        <table>
            <thead class='thead-light'>
                <tr >
                    <th>Pasta</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                {% for pasta in pastas %}
                <tr>
                    <td>{{pasta.name}}</td>
                    <td>${{pasta.price}}<a href="{% url 'add' 'pasta' pasta.name pasta.price %}">add</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table>
            <thead class='thead-light'>
                <tr>
                    <th>Regular Pizza</th>
                    <th>Small</th>
                    <th>Large</th>
                </tr>
            </thead>

            <tbody>
                {% for pizza in regularPizzas %}
                <tr>
                    <td>{{pizza.name}}</td>
                    <td>${{pizza.smallPrice}}<a href="{% url 'add' 'pizza' pizza.name pizza.smallPrice %}">add</a></td>
                    <td>${{pizza.largePrice}}<a href="{% url 'add' 'pizza' pizza.name pizza.largePrice %}">add</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


<br>
<div>
    <h5>Your order:</h5>
    {% for food in order %}
        {{food.name}}, {{food.price}}<br>
    {% endfor %}
</div>

{% endblock %}


