{% extends "base.html" %}
{% block title %}
Pizza!
{% endblock %}

{% block body %}
<h4>Menu:</h4>
<br>
{% for foodSection in onePriceFoods %}
    <table class="menu">
        <thead class='thead-light'>
            <tr >
                <th>{{foodSection.foodCategory.category}}</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for food in foodSection.allFoodInCategory %}
                <tr>
                    <td>{{food.name}}</td>
                    <td>${{food.price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% for foodSection in twoPriceFoods %}
    <table class="menu">
        <thead class='thead-light'>
            <tr>
                <th>{{foodSection.foodCategory.category}}</th>
                <th>Small</th>
                <th>Large</th>
            </tr>
        </thead>
        <tbody>
            {% for food in foodSection.allFoodInCategory %}
                <tr>
                    <td>{{food.name}}</td>
                    <td>${{food.smallPrice}}</td>
                    <td>${{food.largePrice}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<table class="menu">
    <thead class='thead-light'>
        <tr >
            <th>Toppings</th>
        </tr>
    </thead>
    <tbody>
        {% for topping in toppings %}
            <tr>
                <td>{{topping.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<div class="menu">
    <h5>Your cart:</h5>
        Please <a href="/login">log in</a> to order. No account yet? Register <a href="/register">here!</a>
</div>
{% endblock %}
