{% extends "base.html" %}
{% block title %}
Pizza!
{% endblock %}
{% block body %}
<h4>Menu:</h4>
<br>
<table>
    <thead class='thead-light'>
        <tr >
            <th>Pasta</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for pasta in pastas %}
        <tr>
            <td>{{pasta.name}}</td>
            <td>${{pasta.price}}{% if user.is_authenticated %}<a href="{% url 'add' pasta.category pasta.name pasta.price %}">+</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <thead class='thead-light'>
        <tr>
            <th>Regular Pizza</th>
            <th>Small</th>
            <th>Large</th>
        </tr>
    </thead>
    <tbody>
        {% for pizza in regularPizzas %}
        <tr>
            <td>{{pizza.name}}</td>
            <td>${{pizza.smallPrice}}{% if user.is_authenticated %}<a href="{% url 'add' pizza.category pizza.name pizza.smallPrice %}">+</a>{% endif %}</td>
            <td>${{pizza.largePrice}}{% if user.is_authenticated %}<a href="{% url 'add' pizza.category pizza.name pizza.largePrice %}">+</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div>
    <h5>Your cart:</h5>
    {% if user.is_authenticated %}
        {% for food in order %}
            {{food.category}}, {{food.name}}, ${{food.price}}<br>
        {% endfor %}
        {% if order %}
        Total: ${{total}}
        <a href="{% url 'checkoutOrder' %}">Checkout order</a>
        {% endif %}
    {% else %}
        Please <a href="/login">log in</a> to order. No account yet? Register <a href="/register">here!</a>
    {%endif%}
</div>
{% endblock %}