{% extends "base.html" %}

{% block title %}
    Your orders
{% endblock %}

{% block body %}
<div class="extra-large-side-margins grayish-background small-paddings">
    <h5>Your current orders:</h5>
    {% if not pendingOrConfirmedOrdersWithFoods %}
        You do not have any current orders at the moment! Why not <a href="/menu">order</a> a scrumptious pizza or a crunchy salad?
    {% endif %}
    {% for pendingOrConfirmedOrderWithFoods in pendingOrConfirmedOrdersWithFoods %}
        {{pendingOrConfirmedOrderWithFoods.order.user}} - {{pendingOrConfirmedOrderWithFoods.order.status}}
        {% for foodInUserOrder in pendingOrConfirmedOrderWithFoods.allFoodInUserOrder %}
            <ul>
                <li>{{foodInUserOrder.foodOrderItem}}</li>
                {% for topping in foodInUserOrder.toppings %}
                    <ul>
                        <li class="small-font">{{topping.name}}</li>
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}

    {% if deliveredOrdersWithFoods %}
        <h5>Your previous orders:</h5>
        {% for deliveredOrderWithFoods in deliveredOrdersWithFoods %}
                {{deliveredOrderWithFoods.order.user}} - {{deliveredOrderWithFoods.order.status}}
            {% for foodInUserOrder in deliveredOrderWithFoods.allFoodInUserOrder %}
                <ul>
                    <li>{{foodInUserOrder.foodOrderItem}}</li>
                    {% for topping in foodInUserOrder.toppings %}
                        <ul>
                            <li class="small-font">{{topping.name}}</li>
                        </ul>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}